[submodule "ChatKit"]
	path = ChatKit
	url = git@github.com:hbmartin/ChatKit.git
[submodule "firebase-extensions-android-architecture"]
	path = firebase-extensions-android-architecture
	url = git@github.com:hbmartin/firebase-extensions-android-architecture.git
